{% extends 'base.html' %}
{% block title %}
    表单页面
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <form class="smart-green" id="form_data">
        <h1>留言信息
            <span>请留下你的信息.</span>
        </h1>
        <label align="right">
            <input type="button" id="table_show" class="button" value="表格">
        </label>
        <label>
            <span>姓名 :</span>
            <input id="name" type="text" name="name" class="error" placeholder="请输入您的姓名"/>
            <div class="error-msg"></div>
        </label>

        <label>
            <span>邮箱 :</span>
            <input id="email" type="email" value="" name="email" placeholder="请输入邮箱地址"/>
            <div class="error-msg"></div>
        </label>

        <label>
            <span>联系地址 :</span>
            <input id="address" type="text" value="" name="address" placeholder="请输入联系地址"/>
            <div class="error-msg"></div>
        </label>

        <label>
            <span>留言 :</span>
            <textarea id="message" name="message" placeholder="请输入你的建议"></textarea>
            <div class="error-msg"></div>
        </label>
        <div class="success-msg"></div>
        <label>
            <span>&nbsp;</span>
            <input type="button" class="button" id="but" value="提交">
        </label>

    </form>

    <script>
        $("#but").click(function () {
            let name = $("#name").val()
            let email = $("#email").val()
            let address = $("#address").val()
            let message = $("#message").val()
            if (name != '') {
                let Data = {
                    "username": name, "email": email,
                    "address": address, "message": message
                }
                $.ajax({
                    url: "{% url 'user' %}",
                    type: "POST",
                    data: Data,
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message)
                            $("#form_data")[0].reset();
                        }
                    }
                })
            } else {
                alert("输入不能为空！")
            }

        })
        $("#table_show").click(
            function () {
                window.location.href='table/'
            }
        )
    </script>
{% endblock %}