{% extends 'base.html' %}
{% block title %}
    表格页面
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <table class="smart-green" border="1" cellspacing="0">

        {% for datum in data %}
            <tr style="width: 400px;height: 20px;">
                <td>{{ datum.id }}</td>
                <td>{{ datum.name }}</td>
                <td>{{ datum.email }}</td>
                <td>{{ datum.address }}</td>
                <td>{{ datum.message }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}